- form_for(@session, :url => session_path, :html => {:method => :post}) do |f|
  %p
    = f.label :openid_url
    = f.text_field :openid_url
  %p
    = f.submit "Login with Gmail or OpenID"


%ul.hints
  %li
    %p 
      Si tu utilises GMail, tu n'as qu'à cliquer en laissant le champ "Openid url" vide.
  %li
    %p
      Si tu n'utilises pas GMail, il te faut une adresse OpenID, tu peux t'en créer une facilement là :
      = link_to "Créer une adresse OpenID chez OpenID France", "http://www.openidfrance.fr/home-2/Creez+votre+OpenID.html"
    %p
      Ensuite il suffit de revenir ici, et de remplir le champ "Openid url", puis de cliquer sur le bouton de login !
      