
.google
  - form_for(@session, :url => session_path, :html => {:method => :post}) do |f|
    = hidden_field_tag "session[openid_provider]", "google"
    %p= f.submit "Signin with Google Account"
  %p.hint si tu utilises GMail ou que tu as un compte Google
.yahoo
  - form_for(@session, :url => session_path, :html => {:method => :post}) do |f|
    = hidden_field_tag "session[openid_provider]", "yahoo"
    %p= f.submit "Signin with Yahoo! Id"
  %p.hint si tu utilises Yahoo Mail ou que tu as un compte Yahoo! Id
