%li{:id => track.id}
  %span.artist
    =h track.artist
  %span.album_name
    =link_to h(track.album_name), album_path(track.album) if track.album
  %span.track_nb
    = h track.nb
  %span.title
    = h track.title
  %span.duration
    = h track.duration

  - if current_user.admin?
    %span.edit
      = link_to :edit, edit_track_path(track)
