- content_for :head do
  = javascript_include_tag "send_file"
  = javascript_include_tag "upload"

Ajouter un ou plusieurs fichiers :
- form_for(@track, :html => {:multipart => true}) do |f|
  = f.file_field(:file_data)
  = submit_tag "Uploader"
