.album
  %span.artist
    =h @album.artist
  %span.name
    =h @album.name

  - form_for(@comment, :url => album_comments_path(@album), :html => {:method => :post}) do |f|
    = f.text_field :body
    = f.submit "Send"
