#player {
  height: 80px;
  margin: 1%;
  position: relative;
}

#player > div {
  position: absolute;
  height: 50px;
}

#player .control {
  height: 50px;
  width: 150px;
  top: 20px;
  left: 20px;
  display:block;
}

#player .control > div {
  background-image: url('../images/music_player.png');
  height: 50px;
  width: 50px;
  float: left;
}
#player .control span { display:none; }
#player .control .prev {background-position: 200px 0px; }
#player .control.disabled .prev {background-position: 200px 50px;}
#player .control .prev:hover {background-position: 200px 100px;}

#player .control .stopped {background-position: 150px 0px; }
#player .control.disabled .stopped {background-position: 150px 50px;}
#player .control .stopped:hover {background-position: 150px 100px;}

#player .control .playing {background-position: 100px 0px; }
#player .control.disabled .playing {background-position: 100px 50px; }
#player .control .playing:hover {background-position: 100px 100px;}

#player .control .next {background-position: 50px 0px; }
#player .control.disabled .next {background-position: 50px 50px; }
#player .control .next:hover {background-position: 50px 100px;}


#player .search {
  top: 1em;
  right: 2em;
  width: 10em;
}
#player .img {
  left: 200px;
}
#player .img img { height: 75px; float: left;}

#player .info,
#player .duration {
  left: 300px;
}
#player .info { top: 15px; }
#player .duration { top: 40px; height: 10px;}

#player #time_bar {
  width: 350px;
  height: 6px;
  border: 1px solid #999;
}
#player #time_bar div{
  height: 100%;
  background-color: #888;
}

#browser {
  width: 80%;
  margin: 1% 10%;
  position: relative;
}

#browser > ul { 
  position: absolute;
  margin: 0; padding: 0; 
  overflow-y: auto;
  border: 2px solid #999;
}

#browser ul,
#browser li,
#browser p {
  margin: 0;
  padding: 0;
}
#browser li { list-style-type: none; }

#browser li.selected,
#browser li.playing {
  background-color: #DDD;
}

#browser .artists, #browser .albums {
  top : 0;
  height: 200px;
  width: 49%;
}
#browser .artists > li ,
#browser .albums > li,
#browser .tracks_in_album .control { cursor: pointer; }

#browser .artists { left: 0; }
#browser .albums { left: 51%; }

#browser .tracks { left:0; top :210px; width: 100%;}

#browser .tracks > li { position: relative;}
#browser .tracks .album_info {
  width: 100%;
  height: 5em;
  background-color: #abc;
  border-top: 2px solid #999;
}


#browser .tracks .album_info > p { position: absolute; }
#browser .tracks .album_info .img { position: absolute; top: 0.5em; left: 1em; }
#browser .tracks .album_info .img img { height: 4em;}
#browser .tracks .album_info .artist,
#browser .tracks .album_info .album { left: 6em;}
#browser .tracks .album_info .artist { top: 1em;}
#browser .tracks .album_info .album { top: 2.2em;}

#browser .tracks ul { width: 100%;}
#browser .tracks ul li { height: 1.2em; width: 100%; border-top: 1px solid #999;}
#browser .tracks ul li > p { position: absolute;}

#browser .tracks ul li .artist,
#browser .tracks ul li .album { display:none; }
#browser .tracks ul li .control {
  left: 1em;
  background-image: url('../images/silk/control_play.png');
  width: 16px; height: 16px;
}
#browser .tracks ul li .control:hover{ background-image: url('../images/silk/control_play_blue.png'); }
#browser .tracks ul li.playing .control{ background-image: url('../images/silk/control_pause.png'); }
#browser .tracks ul li.playing .control:hover{ background-image: url('../images/silk/control_pause_blue.png'); }

#browser .tracks ul li .track_nb { left: 2.5em; }
#browser .tracks ul li .name { left: 5em;  }
#browser .tracks ul li .duration { right: 1em; }
