
.last_albums
  %h3
    les derniers albums importés:
    %ul
      - @last_albums.each do |album|
        %li
          = album_div(album)

.preferred_albums
  %h3
    Albums préférés:
    %ul
      - User.all.each do |user|
        - albums = user.last_preferred_albums
        - unless albums.empty?
          %li
            %p
              =h(user.nickname)
              %ul
                - albums.each do |album|
                  %li
                    = album_div(album)
%p
  = link_to "liste (très moche) des albums", albums_path
%p
  = link_to "ajouter des fichiers", new_track_path

